<div class="forgot-password-page">

  <div class="forgot-password-card">

    <h1>Movie Booking System</h1>

    <h2>Forgot Password?</h2>

    <p class="description">
      Enter your registered email address and
      we'll send you a verification OTP.
    </p>


    @if (errorMessage) {

      <div class="error-message">
        {{ errorMessage }}
      </div>

    }


    @if (successMessage) {

      <div class="success-message">
        {{ successMessage }}
      </div>

    }


    <form
      [formGroup]="forgotPasswordForm"
      (ngSubmit)="onSubmit()"
    >

      <div class="form-group">

        <label for="email">
          Email
        </label>

        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="Enter your registered email"
        >


        @if (
          forgotPasswordForm.controls.email.touched &&
          forgotPasswordForm.controls.email.hasError('required')
        ) {

          <small class="field-error">
            Email is required
          </small>

        }


        @if (
          forgotPasswordForm.controls.email.touched &&
          forgotPasswordForm.controls.email.hasError('email')
        ) {

          <small class="field-error">
            Please provide a valid email
          </small>

        }

      </div>


      <button
        type="submit"
        [disabled]="isLoading"
      >

        @if (isLoading) {

          Sending OTP...

        } @else {

          Send OTP

        }

      </button>

    </form>


    <div class="login-link">

      <a routerLink="/login">
        ← Back to Login
      </a>

    </div>

  </div>

</div>